name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - "v*.*.*"
jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Generate CHANGELOG.md
        uses: orhun/git-cliff-action@v4
        with:
          args: --verbose
        env:
          OUTPUT: CHANGELOG.md
          GITHUB_REPO: ${{ github.repository }}
      - uses: taiki-e/create-gh-release-action@v1
        with:
          changelog: CHANGELOG.md
          token: ${{ secrets.GITHUB_TOKEN }}

  upload-assets:
    needs: create-release
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            platform: linux
          - os: macos-latest
            platform: macos
          - os: windows-latest
            platform: windows
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: singlerpc
          archive: singlerpc_$tag_${{ matrix.platform }}
          include: LICENSE,README.md
          tar: none
          zip: all
          token: ${{ secrets.GITHUB_TOKEN }}